body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p, span, li, ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.main-bg {
  max-width: 392px;
  height: 852px;
  background-color: #F4E6E8;
}

.products {
  padding: 10px 20px;
}

.products h2 {
  color: #2F2F2F;
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.products-cards {
  background-color: #FFFFFF;
  padding: 20px 10px;
  border-radius: 20px;
  border: 1px solid #F0E3E5;
  box-shadow:
  0px 2px 8px rgba(0, 0, 0, 0.04),
  0px 8px 24px rgba(190, 91, 106, 0.10);
}
.products-arrow svg {
  transition: transform 0.3s ease;
  margin-right: 10px;
}
details[open] .products-arrow svg{
  transform: rotate(180deg);
}

.products-cards summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.products-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.products-info h3{
  font-size: 1.125rem;
  font-weight: 600;
  color: #2F2F2F;
  margin-bottom: 0px;
}

.products-info p {
  font-size: .875rem;
  font-weight: 600;
  color: #BE5B6A;
}

.products-info p span {
  font-size: .75rem;
  font-weight: 400;
  color: #8E4654;
}

.products-content {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.products-content li {
  border-right: 1px solid #F0E3E5;
  padding-right: 8px;
}

.products-content li:last-child {
  border: none;
} 

.venda-tipo p {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.value {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #BE5B6A;
}